<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">

    <bean id="deployer"
          class="me.kahwah.deployer.Deployer">
        <property name="pageDao" ref="pageDao" />
        <property name="keywordDao" ref="keywordDao" />
        <property name="config" ref="xmlConfig" />
        <property name="processors" ref="processors" />

    </bean>

    <bean id="processors" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="componentProcessor" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="componentProcessor"
            class="me.kahwah.deployer.impl.ComponentProcessorImpl">
        <property name="componentPresentationDao" ref="componentPresentationDao" />
        <property name="componentDao" ref="componentDao" />
        <property name="serializer" ref="dd4tSerializer"></property>
    </bean>

    <bean id="componentDao" class="me.kahwah.dao.impl.ComponentDAOImpl">
        <constructor-arg ref="mongo" index="0"></constructor-arg>
        <constructor-arg ref="morphia" index="1"></constructor-arg>
        <constructor-arg ref="dbName" index="2"></constructor-arg>
    </bean>

    <bean id="pageDao" class="me.kahwah.dao.impl.PageDAOImpl">
        <constructor-arg ref="mongo" index="0"></constructor-arg>
        <constructor-arg ref="morphia" index="1"></constructor-arg>
        <constructor-arg ref="dbName" index="2"></constructor-arg>
    </bean>

    <bean id="keywordDao" class="me.kahwah.dao.impl.KeywordDAOImpl">
        <constructor-arg ref="mongo" index="0"></constructor-arg>
        <constructor-arg ref="morphia" index="1"></constructor-arg>
        <constructor-arg ref="dbName" index="2"></constructor-arg>
    </bean>

    <bean id="componentPresentationDao" class="me.kahwah.dao.impl.ComponentPresentationDAOImpl">
        <constructor-arg ref="mongo" index="0"></constructor-arg>
        <constructor-arg ref="morphia" index="1"></constructor-arg>
        <constructor-arg ref="dbName" index="2"></constructor-arg>
    </bean>

    <bean id="mongo" class="com.mongodb.Mongo"></bean>
    <bean id="morphia" class="org.mongodb.morphia.Morphia"></bean>

    <bean id="dd4tSerializer" class="me.kahwah.dd4t.core.serializers.impl.DefaultSerializer"></bean>

    <bean id="dbName" class="java.lang.String">
        <constructor-arg value="#{xmlConfig.getString('database')}" />
    </bean>

    <bean id="xmlConfig" class="org.apache.commons.configuration.XMLConfiguration">
        <constructor-arg type="java.lang.String">
            <value>config.xml</value>
        </constructor-arg>
    </bean>
</beans>
